<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ChatApp" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <add name="iisnode-chatapp" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <httpErrors existingResponse="PassThrough" />
    <iisnode nodeProcessCommandLine="node" devErrorsEnabled="true" loggingEnabled="false">
      <environmentVariables>
        <add name="NODE_ENV" value="production" />
        <add name="SOCKET_IO_PATH" value="/chat2026/socket.io" />
      </environmentVariables>
    </iisnode>
  </system.webServer>
</configuration>
